* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
.register-section {
  min-height: 100vh;
  padding: 60px 0;
}
.bg-white.m-3.p-3.rounded {
  text-transform: capitalize;
}
.col-10.bg-light {
  min-height: 100vh !important;
}
